<!DOCTYPE html>
<html>
	<head>
	<title><%= title %></title>
	<link rel='stylesheet' href= '/stylesheets/style.css' />
	</head>
	<body>
		<h1>Forgot Password </h1>
		<p> Please Enter Email id ! </p>
		<div>
      <form method = "post"  action ="/forgotpsd/changePassword">
  			<div>
  				<input type="text" name="email" placeholder="Enter Email" required="Email">
  			</div>
  			<div>
  				<input type="submit" name="sendEmail" value="Send verification">
			</div> 
    </form>
		</div>
</body>
</html>
