<!DOCTYPE html>
<html>
	<head>
	<title><%= title %></title>
	<link rel='stylesheet' href= '/stylesheets/style.css' />
	</head>
	<body>
		<h1>Forgot Password </h1>
		<p> Please Reset Your Password ! </p>
		<div>
      <form method = "post"  action ="">
  			<div>
  				<input type="text" name="password" placeholder="Enter Password" required="Password">
            </div>
            <div>
                    <input type="text" name="reset-password" placeholder="Confirm Password" required="Confirm Password">
            </div>
  			<div>
  				<input type="submit" name="changepsd" value=" Change Password">
			</div> 
    </form>
		</div>
</body>
</html>
